[
    {
        "merged": "E:\\LinkJobProject\\AliSamrtHome-Android\\CustomApps\\kawa\\build\\intermediates\\res\\merged\\release\\animator-v21\\design_appbar_state_list_animator.xml",
        "source": 